body {
    background-color: #01082d;
    font-family: candara;
}
h1 {
    font-size: 60px;
    color: #e1bee7;
    font-family: verdana;
}
p {
    text-align: center;
    font-size: 30px;
}
a {
    color: white;
    text-decoration: none;
}
fieldset {
    border-color: #ffd500;
}
.keterangan {
    color: white;
    font-size: 20px;
}
.home {
    font-size: 40px;
    color: white;
    background-color: #ffd500;
    padding: 10px;
    margin: 10px;
}
.home:hover {
    background-color: white;
    color: #ffd500;
}