a {
    color: white;
    text-decoration: none;
}
body {
    font-family:candara;
    background-color: #01082d;
    color: white;
}
h1 {
    font-size: 40px;
    color: #e1bee7;
}

fieldset {
    border-color: #ffd500;
}
.favorit {
    color: #ffd500;
}
h4 {
    color: #ffd500;
}

.nav {
    background-color: #ffd500;
    padding: 10px;
    margin-top: 0px;
}

.navbar {
    display: inline;
    margin-left: 15px;
    height: 20px;
}

.navbar a:hover {
    color: #01082d;
}

.navbar a {
    font-weight: bold;
}
