a {
    color: white;
    text-decoration: none;
}
body {
    font-family:candara;
    background-color: #01082d;
    color: white;
}
h1 {
    font-size: 40px;
    color: #e1bee7;
}
.home {
    font-size: 20px;
    color: white;
    background-color: #ffd500;
    padding: 10px;
    margin: 10px;
}
.home:hover {
    background-color: white;
    color: #ffd500;
}
fieldset {
    border-color: #ffd500;
}
.favorit {
    color: #ffd500;
}
